.col-4 {
  padding: 0;
}
.tryclass {
  background-image: url("../public/img_source/glassesImage/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

.glass__first {
  position: relative;
}

.glass__first .model__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.glass__first .layout {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgb(255, 165, 0 , 0.3);
  padding: 15px;
}

.glass__first .glass {
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 2;
}

.glass__first .glass .glass__img {
  width: 65%;
}

.glass__try {
  cursor: pointer;
}
